.moviesDesign {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.inputDesign {
  margin: 0;
  width: 20%;
  margin-top: 20px;
  border: none;
  outline: none;
  padding: 10px;
  font-size: 26px;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(width, 1fr));
  grid-template-rows: auto;
  grid-gap: 10px;
}

.gridItem {
  position: relative;
  width: 100%;
  height: 100%;
  grid-template-columns: repeat(auto-fill, minmax(width, 1fr));
}

.gridImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  /* opacity: 0.2; */
}

.gridInfo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

.gridTitle {
  font-size: 46px;
  font-weight: bold;
}

.gridDate {
  font-size: 20px;
}

ul {
  display: grid;
  gap: 16px;
}

/* @media (min-width: 768px) {
  .gridContainer {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media (min-width: 1024px) {
  .gridContainer {
    grid-template-columns: repeat(8, 1fr);
  }
} */
